* {
  padding: 0ch;
  margin: 0;
}

.App {
  width: 100%;
  text-align: center;
  background-color: rgb(241, 238, 238);
  display: flex;
  justify-content: center;
  height: 750px;
}

.continer1 {
  padding: 3px;
  background-color: white;
  margin-right: 20px;
  width: 350px;
}

.continer2 {
  padding: 3px;
  background-color: white;
  text-align: left;
  width: 50%;
}
