.img1 {
  border-radius: 50%;
  width: 200px;
  padding: 15px;
}

.img2 {
  width: 20px;
  height: 20px;
}

h2 {
  padding: 10x;
}

h3 {
  color: gray;
  padding: 10px;
}

hr {
  background-color: rgb(241, 239, 239);
  height: 0.5px;
  border: 0;
  margin: 10px;
}

p {
  padding: 10px;
}

.icon:hover {
  color: darkslateblue;
}
